<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsCpcaeE0d7i6x6lFzT_kLzeGXjGhcBOU</string>
	<key>GCM_SENDER_ID</key>
	<string>974877262639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.digitalsalt.laza</string>
	<key>PROJECT_ID</key>
	<string>laza-0710</string>
	<key>STORAGE_BUCKET</key>
	<string>laza-0710.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974877262639:ios:fbbf3f18eb9f9c57dad7da</string>
</dict>
</plist>